.top{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 200px;
    top: 200px;
}
.middle{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 100px;

}
.bottom{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}
body{
    margin: 0px;
}
img{
    margin-left: 600px;
}
img:hover{
    width: 50%;
}