body{
    
    margin: 0%;
    text-align: center;
    background-color: pink;
    
}

/* 100% = 16px = 1em
   1px = 100/16 =6.25%
   80px = 80 * 6.25 =500%
*/

.qq{
    font-size: 500%;
    font-family: 'sacramento', serif;
    color:brown;
    line-height: .8;
    
    
}
.ww{
    
    font-family: 'merriweather',serif;
    
    color:rgb(61, 37, 32);
    font-weight: normal;
    line-height: .2;
    
}
.ee,.rr{
    font-family: 'merriweather',serif;
    font-size: 250%;
}
.top{
    background-color: rgb(153, 202, 198);  
    
    position: relative;
    padding-top: 4%;
    
}
.middle{
    background-color: papayawhip;
    
}
.middle2{
    background-color: palegoldenrod;
}
.bottom{
    background-color:rgb(153, 202, 198) ;
    
}

.b-cloud{
    position: absolute;
    bottom:1%;
    left:20%;
    
}
.t-cloud{
    position: absolute;
    right:10%;
    top: 0%;
}
.univ{
    width: 17%;
    height: 17%;
    border-radius: 50%;
}
.wond{
    width: 20%;
    height: 20%;  
    margin-left: 1%;
}
.wond2{
    width: 30%;
    height: 10%;
    margin-left: 1%;
}
.wond3{
    width: 30%;
    height: 5%;
    margin-left: 1%;

}
.lum1{
    width: 20%;
    height: 7%;
    margin-left: 2%;
    margin-bottom: 5%;
}
